@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;

@layer base {
	html {
		font-family: "Raleway", sans-serif;
	}
}

@tailwind components;
@tailwind utilities;

/* NOTICIAS WEB */
#headerRow,
#ecoCurrentTime,
.ecoTimeAndDate {
	@apply !hidden;
}

/* LOGIN WEB */
.input-error {
	border: 1px solid red;
}
.contenedor_loginWeb {
	display: flex;
	justify-content: center !important;
	height: 100vh;
	width: 100vw !important;
	align-items: center;
}

.error_mensaje {
	color: red;
	font-size: 10px;
	text-align: left;
	margin-left: 5px;
	margin-bottom: 10px;
	height: 20px;
}

/* ----------- */

.avatar {
	@apply border-4 border-transparent p-2 rounded-full flex justify-center items-center transition duration-500 ease-in-out;
}

.avatar-image {
	@apply rounded-full;
}

.background {
	background: rgb(0, 0, 0);
	background: linear-gradient(
		to top left,
		rgba(0, 0, 0, 1) 37%,
		rgba(0, 193, 255, 1) 100%
	);
}

.bordered {
	@apply border-2 border-fondoWebApp rounded-[20px];
}

.brand {
	@apply centered gap-4 my-8;
}

.btn-rounded {
	@apply bg-fondoWebApp text-black border-none font-bold cursor-pointer rounded-[30px];
}

.btn-primary {
	@apply bg-secundario text-white px-8 py-4 border-none font-bold cursor-pointer rounded-[30px] text-xl uppercase transition duration-500 ease-in-out hover:bg-fondoWebApp;
}

.btn-dark {
	@apply bg-fondoWebApp text-black border-none font-bold cursor-pointer rounded-[30px] px-4 py-1 text-xl;
}

.container-form {
	@apply w-[90%] lg:w-screen flex flex-col justify-center lg:gap-4;
}

.contacts {
	@apply flex flex-col items-center overflow-auto scrollbar-custom;
}

.contact {
	@apply text-terciario dark:text-white min-h-[5rem] w-[90%] cursor-pointer p-[0.4rem] items-center flex sm:flex-col md:flex-row transition duration-200 ease-in-out border-y-2 border-tipografia;
}

.centered {
	@apply flex justify-center items-center;
}

.error {
	@apply text-red-600 text-xs -mt-4;
}

.input-error {
	@apply h-10 w-full px-6 text-xl placeholder:text-primario text-primario bg-fondoWebApp bg-opacity-80 border-2 rounded-[30px] border-red-600 border-opacity-50 outline-none focus:border-red-500  transition duration-200;
}

.link {
	@apply text-secundario no-underline font-bold;
}

.line-height-0 {
	line-height: 0;
}

.form {
	border-radius: 2em;
	@apply flex flex-col gap-4 justify-center items-center;

	/* py-12 px-20 */
}

.input {
	@apply h-10 w-full px-6 text-xl placeholder:text-primario text-primario bg-fondoWebApp bg-opacity-80 border-2 rounded-[30px] border-none border-opacity-50 outline-none focus:border-purple-400  transition duration-200;
}

.modal-container {
	@apply fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-10;
}

.modal-content {
	@apply dark:bg-primario dark:text-white bg-white rounded-lg p-8  w-full relative;
}

.close-btn {
	@apply absolute top-0 right-0 p-2 focus:outline-none;
}

.recieved {
	@apply justify-start text-start;
}

.recieved .content {
	@apply bg-fondoWebApp;
}

.sended {
	@apply justify-end text-end;
}

.sended .content {
	@apply bg-secundario;
}

.selected-contact {
	@apply bg-tipografia;
}

.signal .content {
	@apply bg-primario;
}

.titulo {
	@apply uppercase font-bold text-3xl;
}

/* Estilos personalizados para la barra de desplazamiento */
.scrollbar-custom {
	scrollbar-width: thin;
	scrollbar-color: #ffffff39 transparent;
}

.scrollbar-custom::-webkit-scrollbar {
	width: 0.2rem;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
	background-color: #ffffff39;
	border-radius: 1rem;
	border: 0.1rem solid transparent;
}

/* ESTILOS DE LOS EMOTICONOS */
.EmojiPickerReact {
	@apply -top-[470px]  shadow-md shadow-primario !absolute !bg-white !border !border-primario;
	/* position: absolute !important;
	background-color:  !important;
	border: 1px solid #9186f3 !important; */
}

.epr-category-nav button {
	filter: contrast(0);
}

.epr_-8623pq {
	@apply !bg-transparent !border !bg-white
	/* background-color: transparent !important; */
	/* border: 1px solid #9186f3 !important; */;
}

.epr_-99lr9q {
	@apply !bg-white;
	/* background-color: #080420 !important; */
}

.epr-body::-webkit-scrollbar {
	@apply bg-white w-1;
}

.epr-body::-webkit-scrollbar-thumb {
	@apply bg-primario;
}

/* ESTILOS DE LOS EMOTICONOS */

/* ESTILOS DE LAS NOTICIAS */
#headerRow {
	@apply !bg-sky-300;
}

.ecoTimeAndDate {
	@apply !bg-sky-300;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	/* appearance: none; */
	border: none;
	width: 0;
	height: 0;
}
