@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;

@layer base {
	html {
		font-family: "Raleway", sans-serif;
	}
}

@tailwind components;
@tailwind utilities;

.avatar {
	@apply border-4 border-transparent p-2 rounded-full flex justify-center items-center transition duration-500 ease-in-out;
}

.avatar-image {
	@apply rounded-full;
}

.background {
	background: rgb(0, 0, 0);
	background: linear-gradient(
		to top left,
		rgba(0, 0, 0, 1) 37%,
		rgba(0, 193, 255, 1) 100%
	);
}

.brand {
	@apply centered gap-4 my-8;
}

.btn-rounded {
	@apply bg-fondoWebApp text-black border-none font-bold cursor-pointer rounded-[30px];
}

.btn-primary {
	@apply bg-secundario text-white px-8 py-4 border-none font-bold cursor-pointer rounded-[30px] text-xl uppercase transition duration-500 ease-in-out hover:bg-fondoWebApp;
}

.btn-dark {
	@apply bg-fondoWebApp text-black border-none font-bold cursor-pointer rounded-[30px] px-4 py-1 text-xl;
}

.container-form {
	@apply w-[90%] lg:w-screen flex flex-col justify-center lg:gap-4;
}

.contacts {
	@apply flex flex-col items-center overflow-auto scrollbar-custom;
}

.contact {
	@apply text-terciario min-h-[5rem] w-[90%] cursor-pointer p-[0.4rem] items-center flex sm:flex-col md:flex-row transition duration-200 ease-in-out border-y-2 border-tipografia;
}

.centered {
	@apply flex justify-center items-center;
}

.error {
	@apply text-red-600 text-xs -mt-6;
}

.input-error {
	@apply h-10 w-full px-6 text-xl placeholder:text-primario text-primario bg-fondoWebApp bg-opacity-80 border-2 rounded-[30px] border-red-600 border-opacity-50 outline-none focus:border-red-500  transition duration-200;
}

.link {
	@apply text-secundario no-underline font-bold;
}

.form {
	border-radius: 2em;
	@apply flex flex-col gap-6 justify-center items-center;

	/* py-12 px-20 */
}

.input {
	@apply h-10 w-full px-6 text-xl placeholder:text-primario text-primario bg-fondoWebApp bg-opacity-80 border-2 rounded-[30px] border-none border-opacity-50 outline-none focus:border-purple-400  transition duration-200;
}

.modal-container {
	@apply fixed inset-0 flex items-center justify-center bg-black bg-opacity-50;
}

.modal-content {
	@apply bg-white rounded-lg p-8 max-w-md w-full relative;
}

.close-btn {
	@apply absolute top-0 right-0 p-2 focus:outline-none;
}

.recieved {
	@apply justify-start;
}

.recieved .content {
	@apply bg-fondoWebApp;
}

.sended {
	@apply justify-end;
}

.sended .content {
	@apply bg-secundario;
}

.selected-contact {
	@apply bg-tipografia;
}

.titulo {
	@apply text-secundario uppercase font-bold text-3xl;
}

/* Estilos personalizados para la barra de desplazamiento */
.scrollbar-custom {
	scrollbar-width: thin;
	scrollbar-color: #ffffff39 transparent;
}

.scrollbar-custom::-webkit-scrollbar {
	width: 0.2rem;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
	background-color: #ffffff39;
	border-radius: 1rem;
	border: 0.1rem solid transparent;
}

/* ESTILOS DE LOS EMOTICONOS */
.EmojiPickerReact {
	@apply -top-[470px]  shadow-md shadow-[#9a86f3] border-[#9186f3];
	position: absolute !important;
	background-color: #080420 !important;
	border: 1px solid #9186f3 !important;
}

.epr-category-nav button {
	filter: contrast(0);
}

.epr_-8623pq {
	background-color: transparent !important;
	border: 1px solid #9186f3 !important;
}

.epr_-99lr9q {
	background-color: #080420 !important;
}

.epr-body::-webkit-scrollbar {
	@apply bg-primario w-1;
}

.epr-body::-webkit-scrollbar-thumb {
	@apply bg-[#9186f3];
}

/* ESTILOS DE LOS EMOTICONOS */
